@charset "UTF-8";

/*typical device breakpoints
****************************
pequenas telas: até 600px
celular: de 600px ate 768px
tablet: 768px ate 992px
desktop: 992px ate 1200px
telas grandes: acima de 1200px
*/

